body {
    background-color: #f9f2ed;
}

.orange {
    color: #a86042;
    font-weight: bold;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 48%;
    padding: 1%;
}

.pic {
    object-fit: cover;
}

.nav a{
    z-index: 100;
    position: relative;
    color: #a86042;
    text-decoration: none;
    font-family: Arial;
}

.nav:hover a{
    color: #3c3b3a;
    font-family: Arial;
}

#about-me {
    font-size: x-large;
    font-weight: bold;
    width: 500px;
    padding: 10% 20% 1% 20%;
    position: relative;
}

#topbar a{
    display: block;
    text-align: center;
    margin: 50px 10px;
    float: right;
}

#aimeeli a{
    float: left;
    display: block;
    text-align: center;
    margin: 50px;
}
